.login-container {
    display: flex;
    position: relative;
    height: auto;
    margin:auto;
    vertical-align:middle;
    margin-top: 15vh;
}
.login-content{
    vertical-align: middle;
    align-self: center;
    text-align: center;
   
    height: auto;
    border: 1px solid #de8430;
    border-radius: 2%;
    padding: 4vh 4vw;
    margin:auto auto;
    box-shadow: 0px 6px 12px 0px  #c57e3b ;
}

