<div class="container">
    <div class="login-container">
        <div class="login-content">
            <div>
                <h2 class="header-title">Login</h2>
            </div>
            <div>
                <app-loader *ngIf="loading"></app-loader>
                <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)" *ngIf="!loading">
                    <div>
                        <label for="username" class="label">Username: </label>
                        <input type="text" name="username" class="input" ngModel>
                        
                    </div>
                    
                    <div>
                        <label for="password" class="label"> Password: </label>
                        <input type="password" name="password" class="input" ngModel>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
