<div class="container">
    <div class="row">
              <div class="col-xs-12 col-md-4">
                  <div class="color-block-wrapper">
                      <div class="color-block color-block-lblue color-block-icon-list" style="display: inline-flex;">
                          <div style="order: 1;padding-right: 2vw;">
                              <img [src]="photo" height="60px" alt="" style="border-radius: 50%;">
                          </div>
                          <div class="color-block-text" style="order: 2;">
                           <p>{{name}}</p>    
                           <p style="font-size: 1.6vh;">{{organization}}</p>    
                          </div>
                          <div style="order: 3; padding: 1.3vh;">
                            <div class="nav-link-config" (click)="changeAttribute()">
                                <img src="./../../../assets/icons/burger-icon.svg" height="40px" alt="">
                            </div>
                            <div class="dropdown-content" [style]="'display:'+attribute+''">
                                <ul style="list-style: none;">
                                    <li>Groups</li>
                                    <li>Chat</li>
                                    <li>Profile</li>
                                    <li>Logout</li>
                                </ul>
                            </div>

                           
                        </div>
                      </div>
                      <!-- <div class="color-block-bottom">
   <a href="#" class="btn btn-transparent-lblue">Pay by number</a>
                      </div> -->
                  </div>
              </div>
              
  </div>